@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;700&display=swap');

body {
    background: #292929;
    position: relative;
    font-family: 'Archivo', sans-serif;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.6);
}

main {
    background: #292929;
    position: relative;
    margin-bottom: 5rem;
    z-index: 1;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 0;
}

section {
    position: relative;
    margin: auto;
    padding: 0 1rem;
    max-width: 80rem;
}

h1, h2 {
    color: #ffffff;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    color: #0EC281;
}

p {
    line-height: 1.4rem;
}

section#services,
section#about,
section#contact {
    display: flex;
    padding: 10rem 1rem;
}

section#services > div:first-child,
section#about > div:first-child,
section#contact > div:first-child {
    padding-right: 2rem;
    width: 25%;
}

section#services > div:last-child,
section#about > div:last-child,
section#contact > div:last-child {
    width: 75%;
}

section#services::before,
section#about::before,
section#contact::before {
    background: rgba(255, 255, 255, 0.2);
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 0.1rem;
}

section#services h2,
section#about h2,
section#contact h2 {
    margin: 0 0 1.5rem;
    font-size: 3rem;
    padding: 2.5rem 0 0.3rem 0;
    border-bottom: 0.3rem solid #0EC281;
}

.nav-logo {
    display: flex;
}