/* FOOTER */

#footer {
    display: flex;
    padding: 1.5rem 1rem;
}

#footer div {
    display: flex;
    align-items: center;
    width: 50%;
}

#footer .nav-logo {
    margin-right: 1rem;
    margin-left: 0.5rem;
}

#footer .logo {
    height: 2rem;
}

#footer span {
    font-size: 0.7rem;
}