/* HEADER */

#header {
    padding: 1.5rem 1rem;
}

#header nav {
    display: flex;
    justify-content: space-between;
}

/* LOGO */
#header .logo {
    height: 2.5rem;
}

/* NAV-BAR */
#nav-bar {
    display: flex;
    align-items: center;
    margin: 0;
    list-style: none;
}

#nav-bar li {
    padding: 0 0.5rem;
}

#nav-bar li:last-child {
    padding-right: 0;
}

#nav-bar li:nth-last-child(2) {
    padding-left: 1rem;
    border-left: 0.03125rem solid rgba(255, 255, 255, 0.5);
}

#nav-bar li:nth-last-child(3) {
    padding-right: 1rem;
    border-right: 0.03125rem solid rgba(255, 255, 255, 0.5);
}

#nav-bar a {
    transition: border linear 0.4s, color linear 0.2s;
    padding: 0.3rem 0;
    text-decoration: none;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.6);
    border-bottom: 0.3rem solid rgba(255, 255, 255, 0);
}

#nav-bar a:hover {
    color: #ffffff;
}

#nav-bar li:not(:last-child) a:hover {
    border-bottom: 0.3rem solid #0EC281;
}

#nav-bar li:last-child a {
    transition: background ease-in 0.2s;
    background: #0EC281;
    padding: 0.7rem 1.7rem;
    font-weight: 700;
    color: #ffffff;
    border: none;
    border-radius: 0.3rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
}
    #nav-bar li:last-child a.user {
        padding: 0;
        display: block;
        width: 2rem;
        height: 2rem;
        line-height: 2rem;
        text-align: center;
        border-radius: 50%;
    }
        #nav-bar li:last-child a:hover {
            background: #22E09C;
        }

#nav-bar li:nth-last-child(2) a.login {
    transition: color ease-in 0.2s;
    border: none;
}
    #nav-bar li:nth-last-child(2) a.login:hover {
        color: #0EC281;
        border: none;
    }

#nav-bar li:nth-last-child(2) a.logout {
    transition: color ease-in 0.2s;
    color: #df6d4b;
    border: none;
}
    #nav-bar li:nth-last-child(2) a.logout:hover {
        color: #f08463;
        border: none;
    }