#login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 5.5rem); 
}

#login > div {
    display: flex;
    flex-direction: column;
}

#login form div:last-child {
    text-align: center;
}

#login h2 {
    margin: 0 0 4rem;
    text-align: center;
    color: #0EC281;
}

#login form {
    width: 18rem;
}