/* MAIN */


/* PRESENTATION */

#presentation {
    display: flex;
    align-items: center;
    height: calc(100vh - 5.5rem); /* height of the logo 2.5 (header) + padding 3.0*/
}

#presentation div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 2rem;
    width: 40%;
}

#presentation div:last-child {
    width: 60%;
}

#presentation div:first-child > span {
    display: block;
    margin-top: 4rem;
    padding: 0.3rem 0;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 500;
    border-bottom: 0.3rem solid #0EC281;
    
}

#presentation video {
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
    opacity: 0.7;
}

#presentation h1 {
    margin: 0;
    line-height: 3.5rem;
}

#presentation h1 span {
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.6);
}

#presentation h1 span:last-child {
    padding-right: 9rem;
    text-align: right;
}


/* SERVICES */

#services .wrapper {
    display: flex;
    flex-wrap: wrap;
}

#services .card {
    background: rgba(255, 255, 255, 0.03);
    margin-bottom: 2rem;
    width: calc(50% - 1rem);
    border-radius: 0.5rem 0.5rem 0 0;
}

#services .card:nth-child(odd) {
    margin-right: 2rem;
}

#services .container-photo {
    height: 9rem;
}

#services .photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem 0.5rem 0 0;
}

#services .container {
    padding: 0 3rem 3rem ;
}

#services .container-description {
    height: 16rem;
}

#services .list {
    columns: 2;
    column-gap: 3rem;
}

#services .list li {
    margin-bottom: 0.5rem;
    color: #0EC281;
}

#services .list span {
    color: rgba(255, 255, 255, 0.6);
}

#services h3 {
    margin: 3rem auto;
    text-align: center;
    color: #ffffff;
    letter-spacing: 0.3rem;
}

#services .container-price {
    display: inline-block;
    margin-top: 5rem;
    margin-left: 50%;
    transform: translateX(-50%);
    font-weight: 700;
    color: #ffffff;
}

#services .container-price span {
    display: block;
}

#services .price {
    color: #0EC281;
    font-size: 3rem;
}


/* ABOUT */

#about > div:last-child {
    display: flex;
    justify-content: flex-end;
}

#about .container {
    background: rgba(255, 255, 255, 0.03);
    padding: 6rem;
    max-width: 43rem;
    border-radius: 1rem;
}

#about .logo {
    display: block;
    margin: 0 auto 2rem;
    width: 7rem;
}

#about .container-social {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

#about .container-social a:not(:last-child) {
    margin-right: 1rem;
}

#about .container-social img {
    transition: opacity ease 1s;
    width: 2.5rem;
    opacity: 0.4;
}

#about .container-social img:hover {
    opacity: 1;
}


/* CONTACT */
#contact > div:first-child span {
    display: block;
    margin-bottom: 1rem;
}

#contact > div:last-child {
    display: flex;
    justify-content: flex-end;
}

#contact form {
    max-width: 50rem;
}

#contact form > div {
    display: flex;
}

#contact form > div > div {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#contact form > div > div:not(:last-child) {
    margin-right: 1rem;
}

#contact textarea {
    height: 12.5rem;
}

#contact .button {
    margin-top: 1rem;
}