html {
    height: auto;
}

body {
    background: #ffffff;
    padding: 3rem;
    color: #000000;
}

h1 {
    text-align: center;
    font-size: larger;
    color: #000000;
}

table {
    page-break-after: always;
    margin-bottom: 1cm;
    border-collapse: collapse;
    width: 100%;
}

table thead {
    background: #000000;
    display: table-header-group;
    color: #ffffff;
}

table thead th {
    border: 1px solid #ffffff;
}
    
table th,
table td {
    padding: 8px;
    border: 1px solid #000000;
}
    table .total {
        font-size: 26px;
    }
    table .center {
        text-align: center;
    }
    table .right {
        text-align: right;
    }

@media print {
    @page {
        size: A4;
        margin: 1cm;
    }

    body {
        padding: 0;
    }

    img {
        display: none;
    }

    table thead th {
        border: 1px solid #000000;
    }
}